<meta charset="UTF-8">
<title>Laurel Kelly | Portfolio</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"/>
<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

<style>
    body { 
        padding-top:50px; 
        
        background: #757F9A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>
