<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Laurel Kelly</a>
    <!-- <span class="font-weight-lighter text-muted">| Full Stack Developer</span> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/laurel-kelly/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://twitter.com/laurellkelly" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/laurelkelly" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://codepen.io/laurelkelly" target="_blank"><i class="fab fa-codepen"></i></a></li>
    </ul>

    </div>
</nav>